@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "../node_modules/bootstrap/scss/functions";

// Include any default variable overrides here
@import "variables_override";

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Generate color utilities for all colors
$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $grays
);

$utilities: map-merge(
  $utilities,
  (
    // Generate text-color utilities for $all-colors
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($all-colors)
            ),
        )
      ),
    // Generate bg-color utilities for $all-colors
    "bg":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              ($all-colors)
            ),
        )
      )
  )
);

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// scss-docs-end import-stack

/* ==============================================

    Add any additional custom CSS here

   ============================================== */

/* =======================
    Custom styles for 
    framework's 
    documentation
   ======================= */

@keyframes expand {
  from {
    width: 100%;
  }
  to {
    width: 105%;
  }
}

.docs-color-cell:hover {
  // margin-right: -10px;

  width: 105%;
  animation: expand 0.25s;
}

/* =======================
    END documentation
   ======================= */

// Font-weight declaration for Links
a {
  font-weight: bold;
}

// Adding !important to opacity utility classes,
// otherwise opacity:1 from the SASS color creation helper above
// are overwriting these values.

.bg-opacity-10 {
  --bs-bg-opacity: 0.1 !important;
}

.bg-opacity-25 {
  --bs-bg-opacity: 0.25 !important;
}

.bg-opacity-50 {
  --bs-bg-opacity: 0.5 !important;
}

.bg-opacity-75 {
  --bs-bg-opacity: 0.75 !important;
}

.bg-opacity-100 {
  --bs-bg-opacity: 1 !important;
}
